* {
  font-family: Montserrat-Regular, sans-serif !important;
  color: white; }

.bold {
  font-family: Montserrat-Bold, sans-serif !important;
  font-weight: bold; }

hr {
  height: 1px !important;
  background-color: #979896; }

html {
  overflow-y: scroll;
  overflow-x: hidden; }

html, body, .app {
  width: 100%;
  height: 100% !important; }

body {
  background-color: #0f054c; }

#landing {
  background-image: url("../img/land-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#logotype {
  font-family: Montserrat-Bold, sans-serif !important;
  font-weight: bold;
  font-size: 2em; }

#navbarSupportedContent {
  font-family: Montserrat-Bold, sans-serif !important;
  font-weight: bold;
  font-size: 1.2em; }

.land-main {
  padding-top: 200px; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; }

@media screen and (max-width: 768px) {
  .btn-2 {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .land-main {
    padding-top: 50px; } }

@media screen and (max-width: 430px) {
  #logotype {
    font-size: 1.4em; }
  .land-main .main-text {
    font-size: 1.4em !important; } }

@media screen and (max-width: 315px) {
  #logotype {
    font-size: 1em; } }

.main__menu {
  color: black !important; }
  .main__menu__item .link-in-container {
    padding: 10px 10px 15px;
    transition: 0.20s all ease; }
  .main__menu__item {
    padding-bottom: 15px;
    color: black !important;
    list-style-type: none; }
    .main__menu__item > div > div {
      padding-top: 15px; }
  .main__menu__item a {
    color: black !important;
    text-decoration: none;
    transition: 0.20s all ease; }
  .main__menu__item .link-in-container:active {
    padding-left: 15px; }
  .no-touch .main__menu__item .link-in-container:hover {
    padding-left: 15px; }
  .main__menu__item .bold-link {
    font-weight: bold;
    color: black !important;
    text-decoration: none; }
  .main__menu__item .bold-link-container {
    transition: 0.20s all ease; }
  .no-touch .main__menu__item .bold-link-container:hover {
    padding-left: 5px; }
  .main__menu__item .bold-link-container:active {
    padding-left: 5px; }

.main__content {
  color: black !important; }
  .main__content__header {
    font-family: Montserrat-Bold, sans-serif !important; }
  .main__content * {
    color: black !important; }
  .main__content #frame {
    border: none;
    width: 100% !important;
    height: 3000px; }
    .main__content #frame * {
      overflow-y: hidden !important; }
